<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">{{description}}</p>
        <hr class="my-4">
        <p>Alguns membros da formação atual são exibidos na tabela abaixo. Mas você pode: cadastrar, editar ou excluir um herói.</p>
        <p class="lead">
            <a class="btn btn-info" href="#cadastrar" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar Herói</a>
        </p>
    </div>

    <h2>Heróis</h2>
    <app-lista-de-herois [listaVingadores]="vingadores" 
                        (onEditar)="editHeroi($event)" 
                        (onExcluir)="deleteHeroi($event)"> 
    </app-lista-de-herois>

    <br>
    <h2 id="cadastrar">Cadastrar Herói</h2>
    <app-formulario-de-herois [novoVingador]="vingadors"
                             (onCadastrar)="submit($event)" > 
    </app-formulario-de-herois>
</div>